<!DOCTYPE html>
<html>
    <head>
        <title>Tweeter</title>

        <!-- Load Angular v1.2.26 hosted on Google for caching -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <!-- load up our controller -->
        <script src="controllers/tweetController.js"></script>
        <!-- add some styling for our tweets page -->
        <link rel="stylesheet" type="text/css" href="css/tweetstyle.css">
    </head>
    <body ng-app="tweeter" ng-controller="tweetController">
        <h1>Latest Tweets from adaptive-test-api</h1>
        <div id="error" ng-model="errorHandler">{{error-no-new-tweets}}</div>
        <ul ng-repeat="tweet in tweetData">
            <li>{{tweet.user_handle}}</li>
            <li>{{tweet.message}}</li>
            <li>{{tweet.updated_at}}</li>
            <li>{{tweet.sentiment}}</li>
        </ul>
        <button ng-click="getMoreNewTweets()">Load More</button>
    </body>
</html>